[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "libgober.github.io"]
	path = libgober.github.io
	url = git@github.com:libgober/libgober.github.io.git
